extends layout.pug

block content
    p
        a.button(href='/books/new') Create New Book

        form(id='search-form' method='get' action='/books/search')
            input(type='text' name='term' placeholder='Search...')
            input.button(type='submit' value='Search')

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in data
            tr
                td
                    a(href='/books/' + book.dataValues.id)= book.dataValues.title
                td= book.dataValues.author
                td= book.dataValues.genre
                td= book.dataValues.year
        
        .pagination
            a.prev(href='#') &laquo; Back &nbsp;
            a.page.active(href='#') 1 &nbsp;
            a.page(href='#') 2 &nbsp;
            a.page(href='#') 3 &nbsp;
            a.next(href='#') Next &raquo; &nbsp;