extends layout.pug

block content
    p
        a.button(href='/books/new') Create New Book

        form(id='search-form' method='post' action='/search/:term')
            input(type='text' name='term' placeholder='Search...')
            a.button(type='submit') Search

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
        each book in data
            tr
                td
                    a(href='/books/' + book.dataValues.id)= book.dataValues.title
                td= book.dataValues.author
                td= book.dataValues.genre
                td= book.dataValues.year         