doctype html
| PASTE YOUR HTML CODE HERE
head
  title Page Not Found
  link(rel='stylesheet' href='../public/stylesheets/style.css')
h1= err.status
p= err.message
br
p
  a.button(href='all_books.html') Home
| j