extends layout.pug

block content
  form
    p
      label(for= book.title)= book.title
      input#title(name= book.title type='text' value= book.title)
    p
      label(for= book.author)= author.title
      input#author(name= book.author type='text' value= book.author)
    p
      label(for= book.genre)= book.genre
      input#genre(name= book.genre type='text' value= book.genre)
    p
      label(for= book.year)= book.year
      input#year(name= book.year type='text' value= book.year)
    p
      input(type='submit' value='Update Book')
  form(method='post' action='/books/8/delete' onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a.button(href='all_books.html') Cancel
    p
      input(type='submit' value='Delete Book')